<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<!-- Lets link it with the css -->
 <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <!-- <%= 2+2 %> -- to add the dynamic format in ejs -->
    <h1>Heyy lets Add 2 + 2 = <%= 2+2 %></h1> 
    <!-- This is how i use ejs -->


    <!-- Link the javascript -->
     <script src="/stylesheets/style.css"></script>
</body>
</html>